@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/dracula.css";

@import "~/plugins/editor/alert/index.scss";

$max-width: 40em;

.codex-editor {
  max-width: $max-width;

  .ce-block {
    max-width: $max-width - 1em;

    .ce-block__content {
      max-width: unset;

      h1 {
        font-size: $size-1;
        font-weight: bold;
        color: $black;
      }

      h2 {
        font-size: $size-2;
        font-weight: bold;
        color: $black;
      }

      h3 {
        font-size: $size-3;
        font-weight: bold;
        color: $black;
      }

      h4 {
        font-size: $size-4;
        font-weight: bold;
        color: $black;
      }

      h5 {
        font-size: $size-5;
        font-weight: bold;
        color: $black;
      }

      h6 {
        font-size: $size-6;
        font-weight: bold;
        color: $black;
      }

      .ce-header {
        padding: 0.6em 0 1em;
      }

      .cdx-codemirror {
        span {
          &.select {
            position: absolute;
            top: 14px;
            right: 7px;
            z-index: 1;
          }
        }

        .CodeMirror {
          height: 100%;
          background-color: $white-bis;
          border-radius: $radius;
          box-shadow: 0 1px 3px rgba(32, 32, 34, 0.1), 0 0 0 1px rgba(32, 32, 34, 0.1);
          font-size: 13px;
          font-family: monospace;
          z-index: 0;

          pre {
            font-family: monospace;
          }
        }
      }

      .cdx-checklist {
        &__item {
          &--checked {
            .cdx-checklist__item-checkbox {
              background: $secondary;
              border-color: $secondary;
            }
          }
        }
      }
    }
  }

  .ce-toolbar__content {
    max-width: unset;
  }

  .icon {
    height: unset;
    width: unset;
  }

  .ce-toolbar {
    &__settings-btn {
      width: unset;
      height: 28px;
      background: transparent;

      .icon {
        height: 12px;
        width: 12px;
      }
    }

    &__content {
      .ce-settings {
        border: unset;
        box-shadow: 0 2px 3px rgba(32, 32, 34, 0.1), 0 0 0 1px rgba(32, 32, 34, 0.1);

        &__button {
          color: $text;

          &--confirm {
            color: $white;
          }
        }
      }
    }
  }

  .ce-inline-tool {
    color: $black-light;
  }

  .ce-inline-toolbar {
    border: unset;
    box-shadow: 0 2px 3px rgba(32, 32, 34, 0.1), 0 0 0 1px rgba(32, 32, 34, 0.1);

    .ce-conversion-toolbar {
      border: unset;
      box-shadow: 0 2px 3px rgba(32, 32, 34, 0.1), 0 0 0 1px rgba(32, 32, 34, 0.1);
    }
  }

  .ce-toolbar__actions {
    right: -5px;
  }
}

// Tooltip
.ct {
  border-radius: $radius;
  box-shadow: 0px 1px 2px 1px rgba(0, 1, 0, 0.2);

  &::before {
    border-radius: $radius;
    background-color: $white;
    -webkit-mask-box-image: unset;
  }

  &::after {
    background-color: $white;
  }

  .ct__content {
    width: auto;
    color: $text;
    font-size: 0.85rem;
    font-weight: 400;
    padding: 0.35rem 0.75rem;
  }
}
