name: Build Dev Tasks

on:
  #  push:
  #    branches:
  #      - master
  create:
    tags:
      - v*

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]
    #        os: [ macOS-latest, ubuntu-latest, windows-latest ]

    steps:
      - name: Context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      #      - name: Use Node.js 12.x
      #        uses: actions/setup-node@v1
      #        with:
      #          node-version: 12.x

      #      - name: yarn install
      #        run: |
      #          yarn install
      #
      #      - name: Build
      #        run: |
      #          yarn run build

      - name: Upload Mac artifacts
        uses: actions/upload-artifact@v2
        if: startsWith(matrix.os, 'macOS')
        with:
          name: mac-dmg
          path: build/*.dmg

      - name: Upload Linux artifacts
        uses: actions/upload-artifact@v2
        if: startsWith(matrix.os, 'ubuntu')
        with:
          name: linux
          path: build/*.deb

      - name: Upload Win artifacts
        uses: actions/upload-artifact@v2
        if: startsWith(matrix.os, 'windows')
        with:
          name: win
          path: build/*.exe

  assets:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)

      - uses: actions/download-artifact@v2
        with:
          path: artifacts

      - name: Changelog
        uses: scottbrenner/generate-changelog-action@master
        id: Changelog
        env:
          REPO: ${{ github.repository }}

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: Release ${{ steps.get_version.outputs.VERSION }}
          body: |
            ${{ steps.Changelog.outputs.changelog }}
          files: |
            artifacts/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
